<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST" enctype="multipart/form-data">
            <% if(errorMsg) { %>
            <div class="user-message user-message--error"><%= errorMsg %></div>
            <% } %>
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(e=>e.param === 'title')?'invalid':''%>" type="text" name="title" value="<%= oldInput.title %>" id="title">
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input class="<%= validationErrors.find(e=>e.param === 'imageUrl')?'invalid':''%>" type="text" name="imageUrl" value="<%= oldInput.imageUrl %>" id="imageUrl">
            </div> -->
            <div class="form-control">
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(e=>e.param === 'price')?'invalid':''%>" type="number" name="price" value="<%= oldInput.price %>" id="price" step="0.01">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find(e=>e.param === 'description')?'invalid':''%>" name="description" value="<%= oldInput.description %>" id="description" rows="5"></textarea>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>