<section class="pagination">
  <% if (currentPage !== 1 && prevPage !== 1) { %>
  <a href="?page=1">1</a>
  <% } %>

  <% if (hasPrevPage && prevPage != currentPage) { %>
  <a href="?page=<%= prevPage %>"><%= prevPage %></a>
  <%}%>
  <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
  <% if (hasNextPage) { %>
  <a href="?page=<%= nextPage %>"><%= nextPage %></a>
  <%}%>
  <% if (!isLastPage && lastPage !== nextPage) { %>
  <a href="?page=<%= lastPage %>"><%= lastPage %></a>
  <%}%>
</section>